.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.footer div p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #012758;
}

.footer div a {
    text-decoration: none;
    color: #012758;
}

.footer div .copyright {
    margin-top: 10px;
}