.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 190px; */
    padding: 10px 30px;
    background: #002954;
    
}

.heading .innerHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.innerHeading h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.innerHeading p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.heading .mobileToggleMenu {
    display: none;
    position: relative;
    cursor: pointer;
}

.mobileMenu {
    display: none;
}

.icon {
    position: absolute;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    padding-right: 25px;
    transform: rotate(-90deg) scale(0.8);
    pointer-events: none;
  }
  
  .icon.show {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    pointer-events: auto;
  }

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    left: 62px;
    top: 17px;
    border-radius: 100%;
    background: #FFFFFF;
}

.logoWrapper img {
    width: 99px;
    height: 110px;
    object-fit: cover;
}

.heading .linkHeading a{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none;
    padding: 20px 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.heading .linkHeading a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #007bff; /* change to your preferred color */
    transition: transform 0.5s ease;
}

.heading .linkHeading a:hover {
    color: #e6e4e4;
}

.heading .linkHeading a:hover:after {
    transform: translateX(-50%) scaleX(1);
}

/* RESPONSIVE STYLING START HERE */

@media (max-width: 1210px) {
    .innerHeading h2 {
        font-size: 20px;
    }

    .innerHeading p {
        font-size: 16px;
    }

    .heading .linkHeading a{
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        padding: 20px 12px;
    }

    .logoWrapper {
        width: 120px;
        height: 120px;
    }
    
    .logoWrapper img {
        width: 79px;
        height: 95px;
        object-fit: cover;
    }
}

@media (max-width: 1110px) {
    .innerHeading h2 {
        font-size: 16px;
    }

    .innerHeading p {
        font-size: 14px;
    }

    .heading .linkHeading a{
        font-weight: 600;
        font-size: 11px;
        line-height: 17px;
        padding: 20px 8px;
    }

    .logoWrapper {
        width: 100px;
        height: 100px;
    }
    
    .logoWrapper img {
        width: 65px;
        height: 80px;
        object-fit: cover;
    }
}


@media (max-width: 960px) {
    .innerHeading h2 {
        font-size: 14px;
    }

    .innerHeading p {
        font-size: 12px;
    }

    .heading .linkHeading a{
        font-weight: 600;
        font-size: 10px;
        line-height: 17px;
        padding: 20px 6px;
    }

    .logoWrapper {
        width: 90px;
        height: 90px;
    }
    
    .logoWrapper img {
        width: 60px;
        height: 70px;
        object-fit: cover;
    }
}

@media (max-width: 860px) {
    .innerHeading h2 {
        display: none;
    }

    .innerHeading p{
        display: none;
    }

    .heading .linkHeading{
        display: none;
    }

    .logoWrapper {
        width: 90px;
        height: 90px;
    }
    
    .logoWrapper img {
        width: 60px;
        height: 70px;
        object-fit: cover;
    }

    .heading .mobileToggleMenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 60vw;
        height: 100vh;
        margin-top: 105px;
        background-color: #002954;
        z-index: 1000;
        padding: 0.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        pointer-events: none;
        opacity: 0;
      }
      
      .mobileMenu.open {
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto;
      }
      
      .mobileMenu.close {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
      }
      
      .mobileNavLinks {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-top: 3rem;
      }
      
      .mobileNavLinks a {
        color: white;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: color 0.3s;
      }
      
      .mobileNavLinks a:hover {
        color: #00bcd4;
      }
      
}

@media (max-width: 560px) {
    .heading {
        padding: 10px 20px;
        background: #002954;
    }

    .logoWrapper {
        width: 86px;
        height: 86px;
    }
    
    .logoWrapper img {
        width: 54px;
        height: 61px;
        object-fit: cover;
    }
}